<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22C65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.7.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14C18</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.1</string>
	<key>DTSDKBuild</key>
	<string>22C55</string>
	<key>DTSDKName</key>
	<string>macosx13.1</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALCUserClientProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>ALCUserClientProvider</string>
			<key>IOMatchCategory</key>
			<string>ALCUserClientProvider</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecDevice</string>
			<key>IOUserClientClass</key>
			<string>ALCUserClient</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC235 Intel NUC 8</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccIAEnHQEBJx6mAScfkAGXHDABlx6nAZcf
					AA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>8</integer>
					<key>WakeConfigData</key>
					<data>
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Deskmini H470 ALC235 by dumk1217</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAHXHPAB1x0AAdce
					AAHXH0ACFxwQAhcdQAIXHiECFx8CAhcMAgG3
					HCABtx0AAbceEwG3H5kBtwwCAZccMAGXHQAB
					lx6jAZcfmQGnHEABpx1QAacegQGnHwIBRxzw
					AUcdAAFHHgABRx9AAUcMAgF3HPABdx0AAXce
					AAF3H0ABhxzwAYcdAAGHHgABhx9AAecc8AHn
					HQAB5x4AAecfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
					<key>WakeConfigData</key>
					<data>
					AhcMAgG3DAIBRwwC
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC235</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					FwFHH5ABdxwwAXcdAAF3HgABdx9AAZccQAGX
					HRABlx6LAZcfAAHXHFAB1x2QAdce9wHXH0AC
					FxxgAhcdEAIXHisCFx8BAUcMAgIXDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC235 for Ienovo by soto2080</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHAEBJxygAScckAFHHAABRxwBAUcc
					EAFHHJABlxwwAZccEAGXHIEBlxwCAhccIAIX
					HBACFxwhAhccAgF3HPABdx0AAXceAAF3H0AB
					hxzwAYcdAAGHHgABhx9AAacc8AGnHQABpx4A
					AacfQAG3HPABtx0AAbceAAG3H0AB1xzwAdcd
					AAHXHgAB1x9AAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC235 for Lenovo Rescuer 15ISK by Z39</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccIAEnHQEBJx6mAScfkAFHHBABRx0BAUce
					FwFHH5ABlxxAAZcdEAGXHoEBlx8EAhccMAIX
					HRACFx4hAhcfBAF3HPABdx0AAXceAAF3H0AB
					hxzwAYcdAAGHHgABhx9AAacc8AGnHQABpx4A
					AacfQAG3HPABtx0AAbceAAG3H0AB1xzwAdcd
					AAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAFH
					DAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>the-braveknight - Realtek ALC235 for Lenovo Legion Y520</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccQAEnHQABJx6gAScfsAFHHBABRx0AAUce
					FwFHH5ABRwwCAZccMAGXHRABlx6BAZcfAAIX
					HGACFx0QAhceIQIXHwA=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>qiuchenly - Realtek ALC235 for ASUS FX53VD</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AbccAAG3HQEBtx6gAbcfmQIXHBACFx0QAhce
					KwIXHwEBRxwgAUcdAQFHHhABRx+ZAZccMAGX
					HRABlx6LAZcfAQEnHPABJx0AASceAAEnH0AB
					dxzwAXcdAAF3HgABdx9AAYcc8AGHHQABhx4A
					AYcfQAGnHPABpx0AAaceAAGnH0AB1xzwAdcd
					AAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAHX
					HPAB1x0AAdceAAHXH0AB1xzwAdcdAAHXHgAB
					1x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>MacPeet - Realtek ALC235 for ASUS GL553VD</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AhccIAIXHRACFx4rAhcfAAG3HDABtx0AAbce
					pwG3H5ABlxwwAZcdEAGXHosBlx8BAUccQAFH
					HQABRx4XAUcfkAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC235 for Lenovo ThinkCentre Tiny M720q by marian</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAFHDAICFxwfAhcd
					EAIXHiECFx8CAhcMAgGXHCABlx0QAZceoAGX
					H5IBpxwwAacdEAGnHoABpx8C
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>17</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgIXDAIBlwwAAacMAA==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC235 for Asrock_bb_310 by_vio</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AZccMAGXHQEBlx6gAZcfkAGnHEABpx0QAace
					gQGnHwIBtxwgAbcdQAG3HgEBtx8BAbcMAgIX
					HBACFx0QAhceIQIXHwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>18</integer>
					<key>WakeConfigData</key>
					<data>
					AZcHIAGnByQBtwwCAhcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC235 for Lenovo C530 Desktop PC by Andres ZeroCross</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHPABRx0AAUce
					AAFHH0ABdxzwAXcdAAF3HgABdx9AAYcc8AGH
					HQABhx4AAYcfQAGXHDABlx0QAZceiwGXHwIB
					pxwQAacdAQGnHqABpx+QAbccIAG3HQEBtx4X
					AbcfkAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccQAIXHRACFx4rAhcfAgG3
					DAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>21</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAgIXDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC235 for Asus ROG GL553VD-FY380 by Andres ZeroCross</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AbccEAG3HQABtx6gAbcfkAFHHCABRx0AAUce
					FwFHH5ABlxwwAZcdEAGXHoEBlx8AAhccQAIX
					HRACFx4hAhcfAQFHDAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>22</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC235 for Asus TUF FX705GM by TheRealGudv1n</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AhccIAIXHRACFx4rAhcfAAEnHDABJx0AASce
					pwEnH5ABlxwwAZcdEAGXHosBlx8BAUccQAFH
					HQABRx4XAUcfkAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>24</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>vusun123 - Realtek ALC235 for Lenovo Legion Y520</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccQAEnHQABJx6gAScfsAFHHBABRx0AAUce
					FwFHH5ABRwwCAZccMAGXHRABlx6BAZcfAAIX
					HGACFx0QAhceIQIXHwA=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>hla63 - Realtek ALC235 for Msi Modern 15 A10M</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQEBJx6gAScfkAFHHBABRx0AAUce
					FwFHH5ABRwwCAZccQAGXHRABlx6LAZcfAwIX
					HCACFx0QAhceKwIXHwMCFwwCAgUAEAIEACAC
					BQAaAgSACw==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>29</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgIXDAIBlwcl
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Custom by fuzzyrock for ALC235 Lenovo A340-22IWL</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQEBJx6mAScfkAGXHEABlx0QAZce
					oQGXHwIBtxwQAbcdAQG3HhcBtx+QAbcMAgIX
					HCACFx0QAhceIQIXHwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>33</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC235 for Lenovo Qitian M420 by Cryse Hillmes</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					FwFHH5ABdxzwAXcdAAF3HgABdx9AAYcc8AGH
					HQABhx4AAYcfQAGXHHABlx0QAZceoQGXHwIB
					pxwgAacdEAGnHoEBpx8CAbccgAG3HRABtx4B
					AbcfAQHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccUAIXHRACFx4hAhcfAgFH
					DAIBtwwCAhcMAgIXB8ACFwiCAZcHJA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>35</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgG3DAICFwwCAhcHwAIXCIIBlwck
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC235 for Lenovo Ideacentre Mini 5</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHPABRx0AAUce
					AAFHH0ABdxzwAXcdAAF3HgABdx9AAYcc8AGH
					HQABhx4AAYcfQAGXHDABlx0RAZcegQGXHwIB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccEAIXHRACFx4hAhcfAgGX
					ByQBlwiBAhcMAgIXB8ACFwiC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>37</integer>
					<key>WakeConfigData</key>
					<data>
					AZcHJAGXCIECFwwCAhcHwAIXCII=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC235 for Lenovo TianYi 510s Mini by DalianSky</string>
					<key>CodecID</key>
					<integer>283902517</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAFHDAICFxwfAhcd
					EAIXHiECFx8CAhcMAgGXHCABlx0QAZceoAGX
					H5IBpxwwAacdEAGnHoABpx8C
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>99</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgIXDAIBlwwAAacMAA==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
